{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title><!html>
</head>
    <a href="{% url 'index' %}">Courses</a>
    <a href="{% url 'classrooms' %}">Classrooms</a>
    <a href="{% url 'departments' %}">Departments</a>
    <a href="{% url 'time_slots' %}">Time Slots</a>
    
<body class="index-page">
   
{% if buildings %}
<div class="row">
	<div class="col-lg-12">
		<br>
		<div class="box-element">
            {% for building in buildings %}
                <div class="row">
                    <div class="column">
                        <p>
                            Building ID: {{building.id_building}} 
                            Room Count: {{building.room_count}}
                            Building Name: {{building.name}}
                            Address: {{building.address}}</p>
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
	</div>
</div>
{% else %}
    <h1>No buildings are available.</h1>
{% endif %}

</body>