{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title><!html>
</head>
    <a href="{% url 'index' %}">Courses</a>
    <a href="{% url 'buildings' %}">Buildings</a>
    <a href="{% url 'departments' %}">Departments</a>
    <a href="{% url 'time_slots' %}">Time Slots</a>
    
<body class="index-page">
   
{% if classrooms %}
<div class="row">
	<div class="col-lg-12">
		<br>
		<div class="box-element">
            {% for classroom in classrooms %}
                <div class="row">
                    <div class="column">
                        <p>
                            Classroom ID: {{classroom.id_classroom}} 
                            Building: {{classroom.id_building.building_name}}
                            Room Number: {{classroom.room_number}}
                            Capacity: {{classroom.capacity}}</p>
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
	</div>
</div>
{% else %}
    <h1>No classrooms are available.</h1>
{% endif %}

</body>