{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title><!html>
</head>
    <a href="{% url 'index' %}">Courses</a>
    <a href="{% url 'buildings' %}">Buildings</a>
    <a href="{% url 'classrooms' %}">Classrooms</a>
    <a href="{% url 'time_slots' %}">Time Slots</a>
    <a href="{% url 'admin:index' %}">Admin Portal</a>
    
<body class="index-page">
   
{% if departments %}
<div class="row">
	<div class="col-lg-12">
		<br>
		<div class="box-element">
            {% for department in departments %}
                <div class="row">
                    <div class="column">
                        <p>
                            Department Name: {{department.dept_name}} 
                            Building: {{department.id_building}}
                            Budget: ${{department.budget}}
                            Email: {{department.contact_email}}</p>
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
	</div>
</div>
{% else %}
    <h1>No departments are available.</h1>
{% endif %}

</body>