{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title><!html>
</head>
    <a href="{% url 'buildings' %}">Buildings</a>
    <a href="{% url 'classrooms' %}">Classrooms</a>
    <a href="{% url 'departments' %}">Departments</a>
    <a href="{% url 'time_slots' %}">Time Slots</a>
    <a href="{% url 'admin:index' %}">Admin Portal</a>
    
<body class="index-page">
   
{% if courses %}
<div class="row">
	<div class="col-lg-12">
		<br>
		<div class="box-element">
            {% for course in courses %}
                <div class="row">
                    <div class="column">
                        <a href= "{% url 'sections' course.id_course %}">
                            <p>
                                Course ID: {{course.id_course}}
                                Course Title: {{course.title}}
                                Course Number: {{course.course_number}}
                                Course Credits: {{course.credits}}
                            </p>
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
	</div>
</div>
{% else %}
    <h1>No courses are available.</h1>
{% endif %}

</body>