{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title><!html>
</head>
    <a href="{% url 'index' %}">Courses</a>
    <a href="{% url 'buildings' %}">Buildings</a>
    <a href="{% url 'classrooms' %}">Classrooms</a>
    <a href="{% url 'departments' %}">Departments</a>
    
<body class="index-page">
   
{% if time_slots %}
<div class="row">
	<div class="col-lg-12">
		<br>
		<div class="box-element">
            {% for time_slot in time_slots %}
                <div class="row">
                    <div class="column">
                        <p>
                            Time Slot ID: {{time_slot.id_time_section}} 
                            Start Time: {{time_slot.start_time}}
                            Finish Time: {{time_slot.finish_time}}
                            Duration (Minutes): {{time_slot.duration}}
                            Days: {{time_slot.days}}</p>
                        </a>
                    </div>
                </div>
                <br>
            {% endfor %}
	</div>
</div>
{% else %}
    <h1>No Time Slots are available.</h1>
{% endif %}

</body>